<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore Athletics</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" 
    rel="stylesheet">
    <!--<link rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
     <div class="container">
      <div class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="image_s/red_logo.jpeg" width="125px" alt="the company logo for red store">
            </a>
       </div>
       <nav>
           <ul id="MenuItems">
               <li><a href="index.html">Home</a></li>
               <li><a href="product.html">Products</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="contact.html">Contact</a></li>
               <li><a href="account.html">Account</a></li>
           </ul>
       </nav>
       <a href="cart.html">
          <img src="image_s/cart.png" height="30px" width="30px">
       </a>
       <img src="image_s/menu.png" class="menu-icon" onclick="menutoggle()">
         <!-- height="30px" width="30px">-->
      </div>
  </div>
  <div class="row">
    <div class="col-2">
        <h1>Give Your Workout <br> A New Style!</h1>
        <p>Success isn't always about greatness. It's about consistency. Consistent <br>hard Work 
            gains success. Greatness will come.
        </p>
    </div>
    <div class="col-2">
        <img src="image_s/f-palyers.png" alt="two football players looking excited">
        <a href="product.html"  class="btn">Explore Now &#8594;</a>
    </div>
   </div>
 </div>
<!---- featured categories-->
   <div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="image_s/category_1.jpeg">
            </div>
            <div class="col-3">
                <img src="image_s/category_2.jpeg">
            </div>
            <div class="col-3">
                <img src="image_s/category_3.jpeg">
            </div>
        </div>
    </div>
   </div>


 <!---featured products-->
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product_details.html">
                  <img src="image_s/product_1.jpeg" alt="a white guy in a wine-coloured t-shirt">
                  <h2>Red Printed T-shirt</h2>
                </a>
                <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
               </div>
               <p>$50.00</p>
            </div>
            
        <!--</div>
        <div class="row,">-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_2.jpeg" alt="a pair of black shoes">
                   <h2>Black Nick Shoes</h2>
                </a>
                <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
       <!--- </div>
        <div class="row">-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_3.jpeg" alt="a pair of gray joggers">
                   <h2>Gray Adidas Joggers</h2>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        <!--</div>
        <div class="row" >-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_4.jpeg" alt="a white guy in a blue-coloured t-shirt">
                   <h2>Blue-Black Printed T-Shirt</h2>
                </a>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
                                     <!--latest products-->
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
               <img src="image_s/product_5 (2).jpeg" alt="a gray colured pair of shoes">
               <h2>Gray Reebok Shoes</h2>
               <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
               </div>
               <p>$50.00</p>
            </div>
            
        <!--</div>
        <div class="row">-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_6.jpeg" alt="a white guy in a black coloured shirt">
                   <h2>Black Printed T-shirt</h2>
                </a>
                <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
       <!--- </div>
        <div class="row">-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_7.jpeg" alt="a pair of black and white socks">
                   <h2>Socks Produced by Happy Socks</h2>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        
            <!--</div>
        <div class="row" >-->
            <div class="col-4">
                <a href="product_details.html">
                  <img src="image_s/product_8.jpeg" alt="a black watch">
                  <h2>A Black Rolex Watch</h2>
                </a>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
                                     <!--latest products second row-->
         <!--<h2 class="title">Latest Products</h2>-->
        <div class="row">
            <div class="col-4">
                <a href="product_details.html">
                  <img src="image_s/product_9.jpeg" alt="a black watch">
                  <h2>A Black Cartier Watch</h2>
                </a>
               <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star-o"></i>
               </div>
               <p>$50.00</p>
            </div>
            
        <!--</div>
        <div class="row">-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_10.jpeg" alt="a pair of black shoes">
                   <h2>Black Puma Shoes</h2>
                </a>
                <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> 
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
       <!--- </div>
        <div class="row">-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_11.jpeg" alt="a pair of ash shoes">
                   <h2>Ash Skechers shoes</h2>
                </a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> 
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        
            <!--</div>
        <div class="row" >-->
            <div class="col-4">
                <a href="product_details.html">
                   <img src="image_s/product_12.jpeg" alt="a pair of black joggers">
                   <h2> Black joggers by Saxx 3Six Five Pants</h2>
                </a>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> 
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
    </div>
                        <!-------offer-->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="image_s/exclusive.png" alt="an orange coloured smart watch" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>Smart Band 4</h1>
                    <small>The Smart Band 4 features a 39.9% larger
                         (than Mi Band 3) AMOLED color full-touch display with 
                          adjustable brightness, everything is clear as can be.
                   </small>
                    <a href="" class="btn"> Buy Now &#8594</a>
                </div>
            </div>
        </div>
    </div>
                     <!--testimonial-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
               <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever.
                    </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="image_s/Katty Steves.jpeg" alt="a picture of a fair girl with red hair">
                    <h3>Katty Steves</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever.
                    </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="image_s/Adam Parker.jpeg" alt="a fair guy with black hair">
                    <h3>Adam Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the 
                    industry's standard dummy text ever.
                    </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="image_s/Lizzian_s.jpeg" alt="a fair girl with black hair">
                    <h3>Lizzian Sam Peters</h3>
                </div>
            </div>
        </div>
    </div>
                      <!--Brands-->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="image_s/brand_1.jpeg" alt="the brand logo of goorei">
                </div>
                <div class="col-5">
                    <img src="image_s/brand_2.jpeg" alt="the brand logo of oppa">
                </div>
                <div class="col-5">
                    <img src="image_s/brand_3.jpeg" alt="the brand logo of coca-cola">
                </div>
                <div class="col-5">
                    <img src="image_s/brand_4.jpeg" alt="the brand logo of paypal">
                </div>
                <div class="col-5">
                    <img src="image_s/brand_5.jpeg" alt="the brand logo of philips">
                </div>
            </div>
        </div>
    </div>
                               <!--footer-->
    <div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download Our App</h3>
                        <p>Download App for Andriod and ios phone</p>
                        <div class="app-logo">
                            <img src="image_s/play_store.jpeg" alt="the brand logo of playstore">
                            <img src="image_s/app_store.jpeg" alt="the brand logo of appstore">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="image_s/logo-white.png" alt="the brand logo of red store athletics">
                        <p>Our Purpose is to Sustainably Make the Pleasure and Benefits
                            of Sports Accessible to many.
                        </p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>You tube</li>
                        </ul>
                    </div>
                    <hr>
                    <p class="copyright">Copyright 2023 - Pauline Cobbina</p>
                </div>
            </div>
        </div>
    </div>
    <!--js for toggle menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>