{% extends 'base.html'%}
{% load static %}
{% block main %}
<!---- featured categories-->
<div class="categories">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <img src="{% static 'image_s/category_1.jpeg' %}">
      </div>
      <div class="col-3">
        <img src="{% static 'image_s/category_2.jpeg' %}">
      </div>
      <div class="col-3">
        <img src="{% static 'image_s/category_3.jpeg' %}">
      </div>
    </div>
  </div>
</div>
<!---featured products-->
<div class="small-container">
  <h2 class="title">Featured Products</h2>
  <div class="row">
    <div class="col-4">
      <a href="#">
        <img src="{% static 'image_s/product_1.jpeg' %}" alt="a white guy in a wine-coloured t-shirt">
        <h2>Red Printed T-shirt</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>

    <!--</div>
        <div class="row,">-->
    <div class="col-4">
      <a href="#">
        <img src="{% static 'image_s/product_2.jpeg' %}" alt="a pair of black shoes">
        <h2>Black Nick Shoes</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <!--- </div>
        <div class="row">-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_3.jpeg' %}" alt="a pair of gray joggers">
        <h2>Gray Adidas Joggers</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <!--</div>
        <div class="row" >-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_4.jpeg' %}" alt="a white guy in a blue-coloured t-shirt">
        <h2>Blue-Black Printed T-Shirt</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
  <!--latest products-->
  <h2 class="title">Latest Products</h2>
  <div class="row">
    <div class="col-4">
      <img src="{% static 'image_s/product_5 (2).jpeg' %}" alt="a gray colured pair of shoes">
      <h2>Gray Reebok Shoes</h2>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>

    <!--</div>
        <div class="row">-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_6.jpeg' %}" alt="a white guy in a black coloured shirt">
        <h2>Black Printed T-shirt</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <!--- </div>
        <div class="row">-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_7.jpeg' %}" alt="a pair of black and white socks">
        <h2>Socks Produced by Happy Socks</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>

    <!--</div>
        <div class="row" >-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_8.jpeg' %}" alt="a black watch">
        <h2>A Black Rolex Watch</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
  <!--latest products second row-->
  <!--<h2 class="title">Latest Products</h2>-->
  <div class="row">
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_9.jpeg' %}" alt="a black watch">
        <h2>A Black Cartier Watch</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>

    <!--</div>
        <div class="row">-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_10.jpeg' %}" alt="a pair of black shoes">
        <h2>Black Puma Shoes</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <!--- </div>
        <div class="row">-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_11.jpeg' %}" alt="a pair of ash shoes">
        <h2>Ash Skechers shoes</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>

    <!--</div>
        <div class="row" >-->
    <div class="col-4">
      <a href="product_details.html">
        <img src="{% static 'image_s/product_12.jpeg' %}" alt="a pair of black joggers">
        <h2> Black joggers by Saxx 3Six Five Pants</h2>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
</div>
<!-------offer-->
<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="{% static 'image_s/exclusive.png' %}" alt="an orange coloured smart watch" class="offer-img">
      </div>
      <div class="col-2">
        <p>Exclusively Available on RedStore</p>
        <h1>Smart Band 4</h1>
        <small>The Smart Band 4 features a 39.9% larger
          (than Mi Band 3) AMOLED color full-touch display with
          adjustable brightness, everything is clear as can be.
        </small>
        <a href="" class="btn"> Buy Now &#8594</a>
      </div>
    </div>
  </div>
</div>
<!--testimonial-->
<div class="testimonial">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="{% static 'image_s/Katty Steves.jpeg' %}" alt="a picture of a fair girl with red hair">
        <h3>Katty Steves</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="{% static 'image_s/Adam Parker.jpeg' %}" alt="a fair guy with black hair">
        <h3>Adam Parker</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>Lorem Ipsum is simply dummy text of the printing
          and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="{% static 'image_s/Lizzian_s.jpeg' %}" alt="a fair girl with black hair">
        <h3>Lizzian Sam Peters</h3>
      </div>
    </div>
  </div>
</div>
<!--Brands-->
<div class="brands">
  <div class="small-container">
    <div class="row">
      <div class="col-5">
        <img src="{% static 'image_s/brand_1.jpeg' %}" alt="the brand logo of goorei">
      </div>
      <div class="col-5">
        <img src="{% static 'image_s/brand_2.jpeg' %}" alt="the brand logo of oppa">
      </div>
      <div class="col-5">
        <img src="{% static 'image_s/brand_3.jpeg' %}" alt="the brand logo of coca-cola">
      </div>
      <div class="col-5">
        <img src="{% static 'image_s/brand_4.jpeg' %}" alt="the brand logo of paypal">
      </div>
      <div class="col-5">
        <img src="{% static 'image_s/brand_5.jpeg' %}" alt="the brand logo of philips">
      </div>
    </div>
  </div>
</div>
{% endblock %}