{% extends 'base.html'%}
{% load static %}
{% block main %}
<div class="small-container">
  <div class="row row-2">
    <h2>All Products</h2>
    <select>
      <option>Default Sorting</option>
      <option>Sort by price</option>
      <option>Sort by popularity</option>
      <option>Sort by rating</option>
      <option>Sort by sale</option>
    </select>
  </div>

  
  <div class="row">
    {% for query in queries %}
    <div class="col-4">
      <img src="{{query.image.url}}" alt="a white guy in a wine-coloured t-shirt">
      <h2>{{query.ProductName}}</h2>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>GH {{query.price}}</p>
    </div>
    {% endfor %}

  <div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>&#8594</span>
  </div>
</div>
{% endblock %}
